Phishing URL Analysis.json
{
  "name": "Phishing URL Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-url",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9268e478-465c-4e65-9517-70507fe33078",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1088,
        -672
      ],
      "webhookId": "phishing-analyzer-main"
    },
    {
      "parameters": {
        "jsCode": "// Robust extraction from webhook input\n// n8n can place POST JSON body in different locations\n\nconst input = $input.item.json;\n\n// Try multiple possible locations for the data\nconst body = input.body || {};\nconst query = input.query || {};\nconst params = input.params || {};\n\n// Extract URL data from any available source\nconst url = body.url || query.url || params.url || input.url || '';\nconst urlId = body.url_id || query.url_id || params.url_id || input.url_id || '';\nlet domain = body.domain || query.domain || params.domain || input.domain || '';\n\n// If domain not provided, extract from URL\nif (!domain && url) {\n  try {\n    const urlObj = new URL(url);\n    domain = urlObj.hostname;\n  } catch (e) {\n    // Fallback: simple regex extraction\n    domain = url.replace(/^https?:\\/\\//, '').split('/')[0].split('?')[0];\n  }\n}\n\n// Validate we have at least a URL\nif (!url) {\n  throw new Error('No URL provided in request');\n}\n\nreturn {\n  url: url,\n  url_id: urlId || `auto-${Date.now()}`,\n  domain: domain,\n  analysis_start: new Date().toISOString(),\n  timestamp: Date.now()\n};"
      },
      "id": "f3513cf2-e578-430b-b2d6-665001db4b35",
      "name": "Process Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        -672
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.virustotal.com/api/v3/urls",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "virusTotalApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "2a89f8c8-db2b-4c54-a808-a6b6b939c414",
      "name": "VirusTotal Submit URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -608,
        -880
      ],
      "credentials": {
        "virusTotalApi": {
          "id": "fsym8K1hnsDG2B2p",
          "name": "VirusTotal account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Wait 3 seconds for VirusTotal to process\nawait new Promise(resolve => setTimeout(resolve, 3000));\n\n// Pass through the data with analysis ID if available\nconst vtResponse = $input.item.json;\nconst analysisId = vtResponse?.data?.id || null;\n\nreturn {\n  url: $('Process Input').item.json.url,\n  url_id: $('Process Input').item.json.url_id,\n  domain: $('Process Input').item.json.domain,\n  analysis_id: analysisId,\n  analysis_start: $('Process Input').item.json.analysis_start\n};"
      },
      "id": "db859806-a90d-4913-b15d-4c0f332e7f66",
      "name": "Wait and Get Analysis ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -880
      ]
    },
    {
      "parameters": {
        "url": "=https://www.virustotal.com/api/v3/analyses/{{ $json.analysis_id ? $json.analysis_id : $json.data.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "virusTotalApi",
        "options": {
          "timeout": 15000
        }
      },
      "id": "96de05b0-063e-4a35-882f-6321b415e99f",
      "name": "VirusTotal Get Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        -880
      ],
      "executeOnce": false,
      "credentials": {
        "virusTotalApi": {
          "id": "fsym8K1hnsDG2B2p",
          "name": "VirusTotal account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Advanced Heuristic Analysis for Phishing Detection\nconst url = $input.item.json.url;\nconst domain = $input.item.json.domain;\n\nlet heuristicScore = 0;\nconst flags = [];\nconst details = {};\n\n// ============================================\n// HEURISTIC 1: Domain Length Analysis\n// ============================================\nconst domainLength = domain.length;\nif (domainLength > 50) {\n  heuristicScore += 25;\n  flags.push('extremely_long_domain');\n} else if (domainLength > 30) {\n  heuristicScore += 15;\n  flags.push('long_domain');\n}\ndetails.domain_length = domainLength;\n\n// ============================================\n// HEURISTIC 2: IP Address Detection (MEJORADO)\n// ============================================\nconst ipv4Regex = /^(\\d{1,3}\\.){3}\\d{1,3}$/;\nconst ipv6Regex = /^([0-9a-fA-F]{0,4}:){7}[0-9a-fA-F]{0,4}$/;\nconst cleanDomain = domain.replace(/^https?:\\/\\//, '').split(':')[0].split('/')[0];\n\nif (ipv4Regex.test(cleanDomain) || ipv6Regex.test(cleanDomain)) {\n  // Check if it's a private IP (more suspicious)\n  const privateIpRegex = /^(10\\.|172\\.(1[6-9]|2[0-9]|3[0-1])\\.|192\\.168\\.)/;\n  \n  if (privateIpRegex.test(cleanDomain)) {\n    heuristicScore += 50; // Private IP is VERY suspicious in public context\n    flags.push('private_ip_address');\n    details.uses_private_ip = true;\n  } else {\n    heuristicScore += 30; // Public IP still suspicious\n    flags.push('ip_address_used');\n  }\n  details.uses_ip = true;\n}\n\n// ============================================\n// HEURISTIC 3: Suspicious TLDs\n// ============================================\nconst suspiciousTLDs = [\n  '.tk', '.ml', '.ga', '.cf', '.gq',  // Free domains\n  '.xyz', '.top', '.work', '.click',  // Cheap domains\n  '.pw', '.cc', '.info', '.online'    // Often abused\n];\n\nconst foundSuspiciousTLD = suspiciousTLDs.find(tld => domain.toLowerCase().endsWith(tld));\nif (foundSuspiciousTLD) {\n  heuristicScore += 20;\n  flags.push('suspicious_tld');\n  details.suspicious_tld = foundSuspiciousTLD;\n}\n\n// ============================================\n// HEURISTIC 4: Subdomain Analysis\n// ============================================\nconst subdomainCount = (domain.match(/\\./g) || []).length;\nif (subdomainCount > 4) {\n  heuristicScore += 20;\n  flags.push('excessive_subdomains');\n} else if (subdomainCount > 3) {\n  heuristicScore += 10;\n  flags.push('many_subdomains');\n}\ndetails.subdomain_count = subdomainCount;\n\n// ============================================\n// HEURISTIC 5: Suspicious Keywords (MEJORADO)\n// ============================================\nconst suspiciousKeywords = [\n  'login', 'signin', 'account', 'verify', 'secure',\n  'banking', 'paypal', 'update', 'confirm', 'suspended',\n  'locked', 'unusual', 'click', 'urgent', 'password',\n  'admin', 'panel', 'webmail', 'cpanel'\n];\n\nconst lowerUrl = url.toLowerCase();\nconst foundKeywords = suspiciousKeywords.filter(kw => lowerUrl.includes(kw));\n\nif (foundKeywords.length >= 3) {\n  heuristicScore += 25;\n  flags.push('multiple_suspicious_keywords');\n} else if (foundKeywords.length >= 2) {\n  heuristicScore += 15;\n  flags.push('suspicious_keywords');\n} else if (foundKeywords.length === 1) {\n  heuristicScore += 5;\n  flags.push('single_suspicious_keyword');\n}\n\nif (foundKeywords.length > 0) {\n  details.found_keywords = foundKeywords;\n}\n\n// ============================================\n// HEURISTIC 6: Hyphen Analysis\n// ============================================\nconst hyphenCount = (domain.match(/-/g) || []).length;\nif (hyphenCount > 3) {\n  heuristicScore += 20;\n  flags.push('excessive_hyphens');\n} else if (hyphenCount > 1) {\n  heuristicScore += 10;\n  flags.push('multiple_hyphens');\n}\ndetails.hyphen_count = hyphenCount;\n\n// ============================================\n// HEURISTIC 7: HTTPS Check\n// ============================================\nif (!url.toLowerCase().startsWith('https://')) {\n  heuristicScore += 15;\n  flags.push('no_https');\n  details.uses_https = false;\n} else {\n  details.uses_https = true;\n}\n\n// ============================================\n// HEURISTIC 8: URL Shortener Detection\n// ============================================\nconst shorteners = [\n  'bit.ly', 'tinyurl.com', 'goo.gl', 't.co',\n  'ow.ly', 'is.gd', 'buff.ly', 'adf.ly'\n];\n\nconst usesShortener = shorteners.some(s => domain.includes(s));\nif (usesShortener) {\n  heuristicScore += 25;\n  flags.push('url_shortener');\n  details.is_shortened = true;\n}\n\n// ============================================\n// HEURISTIC 9: Special Characters\n// ============================================\nif (url.includes('@')) {\n  heuristicScore += 20;\n  flags.push('contains_at_symbol');\n}\n\nconst doubleSlashCount = url.split('//').length - 1;\nif (doubleSlashCount > 1) {\n  heuristicScore += 15;\n  flags.push('multiple_double_slashes');\n}\n\n// ============================================\n// HEURISTIC 10: Digit Analysis\n// ============================================\nconst digitCount = (domain.match(/\\d/g) || []).length;\nif (digitCount > 4) {\n  heuristicScore += 10;\n  flags.push('excessive_digits');\n  details.digit_count = digitCount;\n}\n\n// ============================================\n// HEURISTIC 11: Brand Impersonation\n// ============================================\nconst brandNames = [\n  'paypal', 'amazon', 'microsoft', 'apple', 'google',\n  'facebook', 'instagram', 'netflix', 'dropbox', 'adobe'\n];\n\nconst lowerDomain = domain.toLowerCase();\nconst impersonatedBrands = brandNames.filter(brand => {\n  if (lowerDomain.includes(brand) && !lowerDomain.endsWith(brand + '.com')) {\n    return true;\n  }\n  return false;\n});\n\nif (impersonatedBrands.length > 0) {\n  heuristicScore += 30;\n  flags.push('brand_impersonation');\n  details.impersonated_brands = impersonatedBrands;\n}\n\n// ============================================\n// HEURISTIC 12: Punycode/IDN Detection\n// ============================================\nif (domain.includes('xn--')) {\n  heuristicScore += 25;\n  flags.push('punycode_domain');\n  details.uses_punycode = true;\n}\n\n// ============================================\n// FINAL SCORE CALCULATION\n// ============================================\nheuristicScore = Math.min(heuristicScore, 100);\n\nlet confidence = 'low';\nif (flags.length >= 5) {\n  confidence = 'high';\n} else if (flags.length >= 3) {\n  confidence = 'medium';\n}\n\nreturn {\n  url: url,\n  url_id: $input.item.json.url_id,\n  heuristic_result: {\n    score: heuristicScore,\n    flags: flags,\n    flag_count: flags.length,\n    details: details,\n    confidence: confidence,\n    analysis_date: new Date().toISOString()\n  }\n};"
      },
      "id": "14a4b25e-cfa0-4a74-9d5c-cbd30243fb03",
      "name": "Heuristic Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -592
      ]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate results from VirusTotal and Heuristics\n// Both inputs are now merged together\n\nconst items = $input.all();\n\n// Get original input data\nconst processInputData = $('Process Input').first().json;\nconst url = processInputData.url;\nconst urlId = processInputData.url_id;\nconst analysisStart = processInputData.analysis_start;\n\n// Initialize containers\nlet virustotalResult = null;\nlet virustotalScore = 0;\nlet heuristicResult = null;\nlet heuristicScore = 0;\n\nconst sourcesChecked = [];\nconst errors = [];\n\n// ============================================\n// PROCESS VIRUSTOTAL RESULTS\n// ============================================\nconst vtItem = items.find(i => i.json.data?.attributes !== undefined);\nif (vtItem && !vtItem.json.error) {\n  try {\n    const vtData = vtItem.json.data.attributes;\n    const stats = vtData.stats || vtData.last_analysis_stats || {};\n    \n    const malicious = stats.malicious || 0;\n    const suspicious = stats.suspicious || 0;\n    const harmless = stats.harmless || 0;\n    const undetected = stats.undetected || 0;\n    const total = malicious + suspicious + harmless + undetected;\n    \n    virustotalResult = {\n      malicious: malicious,\n      suspicious: suspicious,\n      harmless: harmless,\n      undetected: undetected,\n      total: total,\n      reputation: vtData.reputation || 0\n    };\n    \n    if (total > 0) {\n      const detectionRate = (malicious + suspicious) / total;\n      virustotalScore = Math.round(detectionRate * 100);\n      \n      // Boost score if detection rate is significant\n      if (malicious >= 2 || (malicious + suspicious) >= 5) {\n        virustotalScore = Math.max(virustotalScore, 60);\n      }\n    }\n    \n    sourcesChecked.push('virustotal');\n  } catch (e) {\n    errors.push(`VirusTotal processing error: ${e.message}`);\n  }\n} else if (vtItem && vtItem.json.error) {\n  errors.push(`VirusTotal API error`);\n}\n\n// ============================================\n// PROCESS HEURISTIC RESULTS\n// ============================================\nconst heuristicItem = items.find(i => i.json.heuristic_result !== undefined);\nif (heuristicItem) {\n  heuristicResult = heuristicItem.json.heuristic_result;\n  heuristicScore = heuristicResult.score;\n  sourcesChecked.push('heuristic');\n}\n\n// ============================================\n// CALCULATE WEIGHTED FINAL SCORE\n// ============================================\nlet weights = {\n  virustotal: 0,\n  heuristic: 0\n};\n\n// Adjust weights dynamically based on confidence\nif (sourcesChecked.includes('virustotal') && sourcesChecked.includes('heuristic')) {\n  // Both sources available\n  \n  // If heuristics show strong phishing signals (high score + many flags)\n  if (heuristicScore >= 75 && heuristicResult.flag_count >= 4) {\n    // Trust heuristics more for obvious phishing patterns\n    weights.virustotal = 0.3;\n    weights.heuristic = 0.7;\n  }\n  // If VirusTotal has strong detections (multiple engines)\n  else if (virustotalResult.malicious >= 5 || (virustotalResult.malicious + virustotalResult.suspicious) >= 10) {\n    // Trust VirusTotal more\n    weights.virustotal = 0.7;\n    weights.heuristic = 0.3;\n  }\n  // Default: balanced weights\n  else {\n    weights.virustotal = 0.5;\n    weights.heuristic = 0.5;\n  }\n} else if (sourcesChecked.includes('virustotal')) {\n  // Only VirusTotal\n  weights.virustotal = 1.0;\n} else if (sourcesChecked.includes('heuristic')) {\n  // Only Heuristics\n  weights.heuristic = 1.0;\n}\n\n// Calculate final score\nlet finalScore = Math.round(\n  (virustotalScore * weights.virustotal) +\n  (heuristicScore * weights.heuristic)\n);\n\n// Additional boost: if ANY reputable engine (Kaspersky, etc) marks as phishing\nif (virustotalResult && virustotalResult.malicious >= 1) {\n  // Even 1-2 reputable engines detecting is significant\n  finalScore = Math.max(finalScore, 55); // Ensure at least \"suspicious\" threshold\n}\n\n// ============================================\n// DETERMINE VERDICT AND CONFIDENCE\n// ============================================\nconst isPhishing = finalScore >= 50;\n\nlet confidenceLevel = 'low';\nif (finalScore >= 75) {\n  confidenceLevel = 'high';\n} else if (finalScore >= 50) {\n  confidenceLevel = 'medium';\n}\n\n// Boost confidence if both sources agree on phishing\nif (sourcesChecked.length === 2) {\n  if (virustotalScore >= 50 && heuristicScore >= 50) {\n    confidenceLevel = 'high';\n  }\n}\n\n// ============================================\n// CALCULATE ANALYSIS DURATION\n// ============================================\nconst startTime = new Date(analysisStart).getTime();\nconst endTime = Date.now();\nconst durationMs = endTime - startTime;\n\n// ============================================\n// BUILD FINAL RESPONSE\n// ============================================\nreturn {\n  url_id: urlId,\n  url: url,\n  is_phishing: isPhishing,\n  risk_score: finalScore,\n  confidence_level: confidenceLevel,\n  \n  virustotal_result: virustotalResult,\n  heuristic_result: heuristicResult,\n  \n  // Source scores\n  source_scores: {\n    phishtank: 0,\n    virustotal: virustotalScore,\n    heuristic: heuristicScore\n  },\n  \n  // Metadata\n  sources_checked: sourcesChecked,\n  analysis_duration_ms: durationMs,\n  analysis_date: new Date().toISOString(),\n  error_log: errors.length > 0 ? errors.join('; ') : null,\n  weights_applied: weights\n};"
      },
      "id": "23c32902-d819-4d7a-b3b8-79d5bc4955c7",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -1136
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "7a048a0f-b973-4e3c-9227-ece7df8cdec6",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2112,
        -1152
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1ea706e9-539d-49df-b35d-a503ff9bda91",
              "leftValue": "={{ $json.data.attributes.status }}",
              "rightValue": "=completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        -880
      ],
      "id": "9ad738c5-1e5f-47fa-b902-b979c41b22b3",
      "name": "If - is the response ready?"
    },
    {
      "parameters": {
        "jsCode": "// Timeout de 10 segundos usando Promise\nreturn new Promise((resolve) => {\n  setTimeout(() => {\n    resolve($input.all());\n  }, 10000); // 10 segundos = 10000 milisegundos\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -864
      ],
      "id": "c18c6118-3a5c-4e47-8650-f003145a770c",
      "name": "Timeout"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de51b8ea-8215-4cec-b222-a8050520ae84",
              "name": "domain",
              "value": "={{ \n  (() => {\n    try { return new URL($json.url).hostname.trim(); }\n    catch (e) {\n      return $json.url.replace(/^https?:\\/\\//,'').split('/')[0].split('?')[0].trim();\n    }\n  })()\n}}\n",
              "type": "string"
            },
            {
              "id": "dd34e8cc-845e-49b8-bf62-3df3785c8959",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "679b40a3-ed73-4209-9960-3f0d8abb3dec",
              "name": "analysis_date",
              "value": "={{ $json.heuristic_result.analysis_date }}",
              "type": "string"
            },
            {
              "id": "1f1f1365-8fe4-49f0-91d0-c334a21842c9",
              "name": "is_phishing",
              "value": "={{ $json.is_phishing }}",
              "type": "string"
            },
            {
              "id": "9ad3b21a-8223-4ae8-94ee-bf9f23e4c088",
              "name": "risk_score",
              "value": "={{ $json.risk_score }}",
              "type": "string"
            },
            {
              "id": "e136347a-6e94-4047-a620-9070eb3177ac",
              "name": "confidence_level",
              "value": "={{ $json.confidence_level }}",
              "type": "string"
            },
            {
              "id": "7f366dfe-b397-406b-80bb-ffc687e7df97",
              "name": "virustotal_result",
              "value": "={{ $json.virustotal_result }}",
              "type": "string"
            },
            {
              "id": "c008c5f5-0e57-41b0-9513-d4d3f6e24b29",
              "name": "heuristic_result",
              "value": "={{ $json.heuristic_result }}",
              "type": "object"
            },
            {
              "id": "8c2ee74a-714e-4ed4-8418-7efe8faee4f9",
              "name": "analysis_duration_ms",
              "value": "={{ $json.analysis_duration_ms }}",
              "type": "number"
            },
            {
              "id": "64026ab2-93b0-4b3a-99e6-5bdbd01400aa",
              "name": "sources_checked",
              "value": "={{ $json.sources_checked }}",
              "type": "array"
            },
            {
              "id": "b758fd72-4600-490a-9d8e-aef6b1360a00",
              "name": "error_log",
              "value": "={{ $json.error_log }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        -1136
      ],
      "id": "d89c42e2-fd4f-44fb-9a65-9651eecd5277",
      "name": "Set variables"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://miuckjhlwlkyqtisvijv.supabase.co/rest/v1/urls?on_conflict=url",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            },
            {
              "name": "=domain",
              "value": "={{ $json.domain }}"
            },
            {
              "name": "source",
              "value": "n8n_workflow"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1376,
        -1264
      ],
      "id": "5bce0de3-903e-4616-b161-829834c1960f",
      "name": "Upsert into supabase",
      "credentials": {
        "supabaseApi": {
          "id": "gfjz9PxaEsmsQtTF",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        -1136
      ],
      "id": "68d69bad-e16b-41c9-b487-1308005627a7",
      "name": "Merge #1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1664,
        -1152
      ],
      "id": "321ec9fd-faa2-4b32-b1db-4cca4e4d4eaa",
      "name": "Merge #2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://miuckjhlwlkyqtisvijv.supabase.co/rest/v1/analysis_results",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=url_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "analysis_date",
              "value": "={{ $json.analysis_date }}"
            },
            {
              "name": "is_phishing",
              "value": "={{ $json.is_phishing }}"
            },
            {
              "name": "risk_score",
              "value": "={{ $json.risk_score }}"
            },
            {
              "name": "confidence_level",
              "value": "={{ $json.heuristic_result.confidence }}"
            },
            {
              "name": "virustotal_result",
              "value": "={{ $json.virustotal_result }}"
            },
            {
              "name": "heuristic_result",
              "value": "={{ $json.heuristic_result }}"
            },
            {
              "name": "analysis_duration_ms",
              "value": "= {{ $json.analysis_duration_ms }}"
            },
            {
              "name": "sources_checked",
              "value": "={{ '{\\\"' + $json.sources_checked.join('\\\",\\\"') + '\\\"}' }}"
            },
            {
              "name": "error_log",
              "value": "={{ $json.error_log }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1888,
        -1152
      ],
      "id": "f2ac4f45-3deb-4cd2-aeb7-0a386c98e34a",
      "name": "Insert into analysis results in supabase",
      "credentials": {
        "supabaseApi": {
          "id": "gfjz9PxaEsmsQtTF",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Input": {
      "main": [
        [
          {
            "node": "VirusTotal Submit URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Heuristic Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VirusTotal Submit URL": {
      "main": [
        [
          {
            "node": "Wait and Get Analysis ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait and Get Analysis ID": {
      "main": [
        [
          {
            "node": "VirusTotal Get Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VirusTotal Get Results": {
      "main": [
        [
          {
            "node": "If - is the response ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Heuristic Analysis": {
      "main": [
        [
          {
            "node": "Merge #1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Set variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "If - is the response ready?": {
      "main": [
        [
          {
            "node": "Merge #1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Timeout": {
      "main": [
        [
          {
            "node": "VirusTotal Get Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set variables": {
      "main": [
        [
          {
            "node": "Upsert into supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge #2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Upsert into supabase": {
      "main": [
        [
          {
            "node": "Merge #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge #1": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge #2": {
      "main": [
        [
          {
            "node": "Insert into analysis results in supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into analysis results in supabase": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f72a63cd-c6c4-4bdf-a2a2-f2ca0b759617",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "61c7e6a587bd1620a2e3a248c68dc66e2a1c5e6adf7073bb8ab4b37323790c25"
  },
  "id": "cMGLhmrfqzhHVRvN",
  "tags": []
}